.DS_Store
.env
node_modules
.venv/
venv/
__pycache__/
*.pyc
*.pyo
backend/data/activeTeam.json
backend/data/teams.json
backend/data/commits.json
backend/data/output.json
backend/data/groups/groups.json
METRICS.md